### Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

    если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
    для источников paid и email из России ставим ad;
    для источников paid и email не из России ставим other;
    все остальные варианты берём из traffic_source без изменений.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/homework/visit_log.csv', sep=';')
df.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [ ]:
def source_type(df):
  
  if df['traffic_source'] == 'yandex' or df['traffic_source'] == 'google':
    df['source_type'] = 'organic'
  elif ((df['traffic_source'] == 'paid' or df['traffic_source'] == 'email') and df['region'] == 'Russia'):
    df['source_type'] = 'ad'
  elif ((df['traffic_source'] == 'paid' or df['traffic_source'] == 'email') and df['region'] != 'Russia'):
    df['source_type'] = 'other'
  else:
    df['source_type'] = df['traffic_source']
        
  return df['source_type']

In [ ]:
df['source_type'] = df.apply(source_type, axis = 1)

In [ ]:
df.head(20)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,direct
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,direct
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,direct
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
16,1549980801,374708fff7,https://host.ru/39fa884393666d45fc,Russia,e9bd59e22d,google,organic
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,other
18,1549980814,60daa3a5f7,https://host.ru/ef57543002ce2a0f2a,Belarus,72cb10fb5c,direct,direct
19,1549980816,d6fd62f5ce,https://host.ru/f1eb4601740d627ab0,Belarus,7269dcd869,direct,direct

### Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. 

Выполните действия:

    Прочитайте содержимое файла с датафрейм.
    Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/homework/URLs.txt')
df.head(10)

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...
8                                          /science/
9                                            /sport/

In [ ]:
df = df[df['url'].str.contains(r'\/[0-9]{8}-', regex = True)]
df.head(10)

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
10  /middleeast/36131117-divizion-s-400-ne-zametil...
11  /economics/36065674-rossiyane-vozmutilis-minim...
12  /politics/36118047-otets-24-detey-potreboval-i...
13  /travel/36194479-v-sheremetevo-passazhiry-ustr...
14  /politics/35638742-nesolidno-mariya-zaharova-s...

### Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ml-latest-small/ratings.csv')
df.head(10)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151
6       1     1287     2.0  1260759187
7       1     1293     2.0  1260759148
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [ ]:
def diff(timestamp):
    return max(timestamp) - min(timestamp)

In [ ]:
df = pd.pivot_table(df, index = 'userId', values = ['rating', 'timestamp'], aggfunc = {'rating':['mean', 'count'], 'timestamp':['min', 'max']})

In [ ]:
df = df[df['rating', 'count'] > 100]
df.head(10)

       rating             timestamp
        count      mean         max         min
userId
4         204  4.348039   949982274   949778714
8         116  3.866379  1154474527  1154389340
15       1700  2.621765  1469330735   997937239
17        363  3.743802  1127476640  1127468587
19        423  3.534279   855195373   855190091
21        162  3.506173   854522908   853157476
22        220  3.275000  1131753381  1131661890
23        726  3.632920  1166728253  1148386124
26        172  3.468023  1371811577  1351544316
30       1011  3.765084  1060795346   944943070

In [ ]:
df['life'] = df.apply(diff, axis = 1)
df.head(10)

       rating             timestamp                      life
        count      mean         max         min
userId
4         204  4.348039   949982274   949778714  9.499823e+08
8         116  3.866379  1154474527  1154389340  1.154475e+09
15       1700  2.621765  1469330735   997937239  1.469331e+09
17        363  3.743802  1127476640  1127468587  1.127477e+09
19        423  3.534279   855195373   855190091  8.551954e+08
21        162  3.506173   854522908   853157476  8.545229e+08
22        220  3.275000  1131753381  1131661890  1.131753e+09
23        726  3.632920  1166728253  1148386124  1.166728e+09
26        172  3.468023  1371811577  1351544316  1.371812e+09
30       1011  3.765084  1060795346   944943070  1.060795e+09

### Задание 4
Дана статистика услуг перевозок клиентов компании по типам:

    rzd - железнодорожные перевозки
    auto - автомобильные перевозки
    air - воздушные перевозки
    client_base - адреса клиентов
    
Нужно сформировать две таблицы:

    таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
    аналогичную таблицу по типам выручки с указанием адреса клиента.

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [ ]:
(rzd
 .merge(auto, left_on='client_id', right_on='client_id', how='outer')  
 .merge(air, left_on='client_id', right_on='client_id', how='outer')
)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

In [ ]:
(client_base
 .merge(rzd, left_on='client_id', right_on='client_id', how='outer')
 .merge(auto, left_on='client_id', right_on='client_id', how='outer')
 .merge(air, left_on='client_id', right_on='client_id', how='outer')
)

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           NaN          NaN
1        112   Энтузиастов 8а       2810.0           NaN          NaN
2        113  Левобережная 1а      10283.0       57483.0          NaN
3        114          Мира 14       5774.0          83.0          NaN
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          NaN        4834.0          4.0
6        117  Панфиловская 33          NaN          98.0         13.0
7        118     Мастеркова 4          NaN           NaN        173.0